[submodule "src/sms/file_system_utils"]
	path = src/sms/file_system_utils
	url = https://github.com/Brandon-Valley/file_system_utils.git
[submodule "src/sms/pil_utils"]
	path = src/sms/pil_utils
	url = https://github.com/Brandon-Valley/pil_utils.git
[submodule "src/sms/logger"]
	path = src/sms/logger
	url = https://github.com/Brandon-Valley/logger.git
[submodule "src/sms/audio_edit_utils"]
	path = src/sms/audio_edit_utils
	url = https://github.com/Brandon-Valley/audio_edit_utils.git
[submodule "src/sms/thread_tools"]
	path = src/sms/thread_tools
	url = https://github.com/Brandon-Valley/thread_tools.git
[submodule "src/sms/vid_edit_utils"]
	path = src/sms/vid_edit_utils
	url = https://github.com/Brandon-Valley/vid_edit_utils.git
